# parse_data.ipynb

This notebook parses the data files used for the FP-2 assignment. 

<br>
<br>

First let's read the attached data file:

In [1]:
import pandas as pd

df0 = pd.read_csv('student-math.csv')

df0.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

<br>
<br>

The dependent and independent variables variables (DVs and IVs) that we are interested in are:

**DVs**:
- Quality  (the judged wine quality)

**IVs**:
- Acidity ("volatile acidity" column in the CSV file)
- Density ("density" column in the CSV file)
- Sugar  ("residual sugar" column in the CSV file)


<br>
<br>

Let's extract the relevant columns:

In [2]:

df = df0[['G3','Medu','Fedu','studytime','failures','G1','G2']]

df.describe()

,G3,Medu,Fedu,studytime,failures,G1,G2
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,10.415190,2.749367,2.521519,2.035443,0.334177,10.908861,10.713924
std,4.581443,1.094735,1.088201,0.839240,0.743651,3.319195,3.761505
min,0.000000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
25%,8.000000,2.000000,2.000000,1.000000,0.000000,8.000000,9.000000
50%,11.000000,3.000000,2.000000,2.000000,0.000000,11.000000,11.000000
75%,14.000000,4.000000,3.000000,2.000000,0.000000,13.000000,13.000000
max,20.000000,4.000000,4.000000,4.000000,3.000000,19.000000,19.000000

<br>
<br>

Next let's use the `rename` function to give the columns simpler variable names:

In [3]:
df = df.rename( columns={
    'Medu': 'Mother_Education','Fedu': 'Father_Education',

           quality      acidity      density        sugar
count  1599.000000  1599.000000  1599.000000  1599.000000
mean      5.636023     0.527821     0.996747     2.538806
std       0.807569     0.179060     0.001887     1.409928
min       3.000000     0.120000     0.990070     0.900000
25%       5.000000     0.390000     0.995600     1.900000
50%       6.000000     0.520000     0.996750     2.200000
75%       6.000000     0.640000     0.997835     2.600000
max       8.000000     1.580000     1.003690    15.500000